.contents_row
  -@tweets.each do |tweet|
    .content_post
      .image_content
        =image_tag "#{tweet.image}",size: "200x200"
      %p= tweet.text
      %span.name
        =tweet.name
  =paginate(@tweets)
