-if user_signed_in?
  =render 'shared/login_header'
-else
  =render 'shared/signup_header'
.contents
  -@tweets.each do |tweet|
    .contents__post
      .contents__post__image
        =image_tag "#{tweet.image}",size: "200x200"
      %p= tweet.text
      %span.name
        =tweet.name
  =paginate(@tweets)
